---
import { getCollection } from 'astro:content';
import GeneralLayout from '../layouts/GeneralLayout.astro';

const posts = await getCollection("blog");
---

<GeneralLayout title="Welcome to Astro.">
	<script slot="head" is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	
	<main>
		this is the main page
	</main>
	<a href="/blog">blog</a>

	<script is:inline>
		if (window.netlifyIdentity)
			window.netlifyIdentity.on("init", usr => !usr && window.netlifyIdentity.on("login", () => document.location.href = "/admin/"));
	</script>
</GeneralLayout>

<style>

</style>
