---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';


const posts = await getCollection("blog");
console.log(posts[0]);
---

<Layout title="Welcome to Astro.">
	<main>
		this is the main page
	</main>
	<a href="/blog">blog</a>
</Layout>

<style>

</style>
