---
import { getCollection } from 'astro:content';
import GeneralLayout from '../layouts/GeneralLayout.astro';


const posts = await getCollection("blog");
console.log(posts[0]);
---

<GeneralLayout title="Welcome to Astro.">
	<main>
		this is the main page
	</main>
	<a href="/blog">blog</a>
</GeneralLayout>

<style>

</style>
