---

import BaseHead from "../components/BaseHead.astro";
import Layout from './Layout.astro';

import type { MarkdownLayoutProps } from "astro";
type Props = MarkdownLayoutProps<{
	title: string;
	description: string;
	publication?: unknown;
	thumbnail?: string;
}>;

const { title, description, publication } = Astro.props.frontmatter;

---
<Layout title={title}>
	<BaseHead slot="head" title={title} description={description} />
	<body>
		<main>
			<article>
				<h1 class="title">The topic of today is: "{title}"</h1>
				{publication && <div>Publised on <time>{new Date(publication as string).toDateString()}</time></div>}
				<hr/>
				<slot />
			</article>
		</main>
	</body>
</Layout>
