---
import { getCollection } from "astro:content";
const authors = (await getCollection('author'));
---
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex" />
  <title>Content Manager</title>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" is:inline></script>
</head>
<body>
  <script src="https://unpkg.com/decap-cms@^3.0.0/dist/decap-cms.js" is:inline></script>

  <script define:vars={ {authors} }>
    CMS.registerWidget(
      'span', 
      function(props) {
        const { value = '', forID : id, classNameWrapper : className, onChange } = props;

        return h('select', { id, className, value, onChange : e => onChange(e.target.value) },
          authors.map( a => h('option', { value : a.id }, `${a.data.lname}, ${a.data.fname.charAt(0).toUpperCase()}.` ))
        );
      },
      function(props) {
        return h('span', { style : { backgroundColor : 'rose' } }, props.value );
      }
    );
  </script>
  <script is:inline>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>
</html>